{% load static %}

<footer class="pt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <img src="{% static 'images/logo.png' %}" width="150" alt="logo">
                <p class="text-muted mt-3 mb-md-0 mb-2">
                    We are a group of expert and gifted specialists in every.<br>
                    <span class="text-wight">Opens at: {{ main_info.open_at }}-{{ main_info.close_at }}</span>
                </p>
            </div>
            <div class="col-md-2 d-flex flex-column gap-3">
                <p class="fw-bold text-white fs-5 pb-3 footer-link">Social Media</p>
                <a href="{{ main_info.facebook }}" class="text-decoration-none text-light">Facebook</a>
                <a href="{{ main_info.telegram }}" class="text-decoration-none text-light">Telegram</a>
                <a href="{{ main_info.whatsapp_link }}" class="text-decoration-none text-light">Whatsapp</a>
            </div>
            <div class="col-md-2 d-flex flex-column gap-3">
                <p class="fw-bold text-white fs-5 pb-3 footer-link">About Website</p>
                <a href="{% url 'info:FAQs' %}" class="text-decoration-none text-light">FAQs</a>
                <a href="{% url 'info:about_us' %}" class="text-decoration-none text-light">About Us</a>
                <a href="{% url 'info:terms_of_service' %}" class="text-decoration-none text-light">Terms Of Service</a>
            </div>
            <div class="col-md-2 d-flex flex-column gap-3">
                <p class="fw-bold text-white fs-5 pb-3 footer-link">About Website</p>
                <a href="{% url 'info:works' %}" class="text-decoration-none text-light">How it works?</a>
                <a href="{% url 'info:cookie_policy' %}" class="text-decoration-none text-light">Cookie Policy</a>
                <a href="{% url 'info:privacy_policy' %}" class="text-decoration-none text-light">Privacy Policy</a>
            </div>
        </div>
        <div class="row py-3 justify-content-between gap-md-0 gap-3">
            <div class="col">
               <a href="{{ main_info.facebook }}" class="pe-2 text-decoration-none text-light d-flex gap-3 align-items-center bg-dark">
                <i class="fa-brands fa-facebook-f fs-3 py-3 px-4 bg-secondary"></i>
                FaceBook
               </a>
            </div>
            <div class="col">
               <a href="{{ main_info.instagram }}" class="pe-2 text-decoration-none text-light d-flex gap-3 align-items-center bg-dark">
                <i class="fa-brands fa-instagram fs-3 py-3 px-4 bg-secondary"></i>
                Instagram
               </a>
            </div>
            <div class="col">
               <a href="{{ main_info.twitter }}" class="pe-2 text-decoration-none text-light d-flex gap-3 align-items-center bg-dark">
                <i class="fa-brands fa-twitter fs-3 py-3 px-4 bg-secondary"></i>
                Twitter
               </a>
            </div>
            <div class="col">
               <a href="{{ main_info.telegram }}" class="pe-2 text-decoration-none text-light d-flex gap-3 align-items-center bg-dark">
                <i class="fa-brands fa-telegram fs-3 py-3 px-4 bg-secondary"></i>
                Telegram
               </a>
            </div>

        </div>
        <div class="row py-3 border-top border-secondary text-center text-light">
            <p class="m-0">© 2022 All Rights Reserved By CARZFIX</p>
        </div>
    </div>
</footer>
