{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block subtitle %} {{ title }} {% endblock %}

{% load static %}

{% block content %}
<section class="container py-5">
    <div class="row align-items-center justify-content-between gap-md-0 gap-3">
        <p class="fs-4 fw-bold text-white text-center mb-5">Sign Up</p>
        <div class="col-md-5">
            <img src="{% static 'images/login.svg' %}" class="w-100" alt="form">
        </div>
        <div class="col-md-5 rounded-3 p-md-5 py-3" style="background-color: #222; border: 1px solid #F40612;">
            <form class="text-secondary" method="POST">
                <div class="d-flex gap-1">
                    <button class="d-flex p-1 pe-3 shadow-none text-white align-items-center gap-3 m-auto mb-3" onclick="window.location='{% provider_login_url 'google'%}?next=/'" style="border: 1px solid #f4061251; background-color: #303030; width:100%"><i class="fa-brands fa-google active p-2" style="background-color: #3c3c3c ;"></i>Google</button>
                </div>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn primary-color text-white fw-bold">Sign Up</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
