{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Details Section -->
<section class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pb-5">
            <li class="breadcrumb-item active text-decoration-none"><a href="{% url 'home' %}"
                    class="active text-decoration-none">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">WorkShop Details</li>
        </ol>
    </nav>
    <div class="row gap-md-0 gap-4 align-items-center justify-content-between">

        <div class="col-md-5">
            <img src="{% if workshop.image %}{{ workshop.image.url }}{% else %}{% static 'images/workshop.png' %}{% endif %}" height="400" style="object-fit: cover; border-radius: 15px; background: #3F3F3E"
                alt="details" class="w-100">
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
                <p class="m-0 fs-5 fw-bold active">{{ workshop.name }}</p>
                {% if request.user.is_authenticated and request.user.role == user_role.CUSTOMER %}
                <form method="POST" action="{% url 'workshop:create_report' %}">
                    {% csrf_token %}
                    <input type="hidden" name="workshop" value="{{ workshop.id }}">
                    <button class="px-2 py-1 border-0  bg-transparent" style="width: fit-content;" title="Edit Car" type="submit">
                        <a onclick="this.parent.click()" title="Report this workshop"><i class="fa-sharp fa-solid fa-flag" style="color: #F40612;">&nbsp; Report</i></a>
                    </button>
                </form>
                {% endif %}
            </div>
            <div class="d-flex align-items-center gap-3 text-secondary mb-3">
                <div class="d-flex gap-2">
                    {% for rate in workshop.rate_starts %}
                    <i class="{{rate}} fa-star text-warning"></i>
                    {% endfor %}
                </div>
                ({{ workshop.avg_rate }}) avg rating | {{ workshop.count_rate }} ratings
            </div>
            <div>{{ workshop.description|safe }}</div>
            <form method="POST" action="{% url 'booking:create_without_discount' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ workshop.id }}" name="workshop">
                <input type="submit" value="Book Now" class="primary-color text-decoration-none rounded-3 px-4 py-2 fw-bold text-white d-flex" style="width: fit-content;">
            </form>
        </div>
    </div>
</section>

<!-- Brands Section -->
<section id="brands" class="container py-5">
    <p class="fs-4 fw-bold text-white text-center"> Brands</p>
    <div class="swiper mySwiper2 py-5" style="max-width: 1000px;">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ">
            <!-- Slides -->
            {% for brand in workshop.brands.all %}
            <div style="background-color: #222222;" class="swiper-slide d-flex flex-column align-items-center text-center rounded-3 py-2 px-5 justify-content-center ">
                <img src="{{ brand.image.url }}" width="100" alt="about">
                <p class="text-muted m-0">Model no. <br>
                    {{ workshop.model_year_start|date:"M Y"}} - {{ workshop.model_year_end|date:"M Y"}} </p>
            </div>
            {% endfor %}
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<!-- Video Section -->
<section class="container py-5">
    <p class="fs-4 fw-bold text-white text-center mb-5">Video</p>
    <div class="row justify-content-center">
        <iframe  width="560" height="400" src="{{ workshop.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<!-- Services Section -->
<section class="container py-5">
    <div class="row justify-content-around">
        <p class="fs-4 fw-bold text-white text-center mb-5">Our Services</p>
        {% for service in workshop.services.all %}
        <div class="col-md-3 d-flex flex-column gap-5">
            <div class="d-flex gap-4 ">
                <i class="fa-solid fa-car fs-1 active"></i>
                <div>
                    <p class="fs-5 fw-bold text-white mb-1">{{ service.name }}</p>
                    <p class="text-muted">{{ service.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Discount Section -->
<section class="container py-5">
    <p class="fs-4 fw-bold text-white text-center">Discount / Offers</p>
    <div class="swiper mySwiper3 py-5">
        <!-- Additional Required Wrapper -->
        <div class="swiper-wrapper ">
            <!-- Slides -->
            {% for discount in workshop.discounts.all %}
            <div class="swiper-slide position-relative d-flex flex-column justify-content-center align-items-center gap-3 p-3 pt-5 text-center discount">
                <p class="position-absolute discount-number px-3 py-2 text-white fw-bold rounded-circle primary-color">
                    {{ discount.value|floatformat:2 }} {% if discount.type == "0" %}<br>Min{% elif discount.type == "1" %}% <br>Off{% elif discount.type == "2" %}<br>Free{% endif %}
                </p>
                <p class="fw-bold text-white fs-5 m-0 pt-3">{{ discount.get_type_display }}</p>
                <p class="text-light m-0">Discount of {{ discount.service }} service</p>
                <form  method="POST" action="{% url 'booking:create_with_discount' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ discount.workshop.id }}" name="workshop">
                    <input type="hidden" value="{{ discount.service.id }}" name="service">
                    <input type="hidden" value="{{ discount.id }}" name="discount">
                    <input type="submit" value="Book Now" class="px-4 py-2 primary-color fw-bold text-decoration-none text-white d-inline-block mt-3">
                </form>
            </div>
            {% endfor %}
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<!-- Map Section -->
<section class="container p-md-5 p-3 rounded-3" style="background-color: #222;">
    <div class="row">
        {% for location in workshop.locations.all %}
        <div class="col-md-6">
            <p class="text-secondary mb-1">Location ({{ forloop.counter}}):</p>
            {{ location.link|safe }}
        </div>
        {% endfor %}
    </div>
</section>

<!-- Comments Section -->
<section class="py-5 container">
    {% if request.user.is_authenticated and request.user.role == user_role.CUSTOMER %}
    <div class="row my-3 p-md-5 p-3 rounded-3" style="background-color: #222;">
        <div class="col-md-3 d-flex gap-3 mb-3">
            <img src="{% if request.user.profile.image %} {{  request.user.profile.image.url }}{% else %}{% static 'images/anonymous_user.png' %}{% endif %}" style="width: 50px; height: 50px;" class="rounded-circle"
                alt="avatar">
            <div class="d-flex flex-column gap-1">
                <p class="fw-bold text-white m-0">{{ request.user.profile.name }}</p>
            </div>
        </div>
        {% if not has_rate %}
        <form method="POST" class="d-flex align-items-end" action="{% url 'workshop:create_rate' %}">
            {% csrf_token %}
            <fieldset class="star-rating">
                <input type="hidden" value="{{ workshop.id }}" name="workshop">
                <legend class="text-light text-muted" style="font-size: 16px;">Give a feedback:</legend>
                <div class="star-rating__stars my-3" title="Rate this workshop">
                    <input class="star-rating__input" type="radio" name="value" value="1" id="feedback-1"/>
                    <label class="star-rating__label" for="feedback-1" aria-label="One"></label>
                    <input class="star-rating__input" type="radio" name="value" value="2" id="feedback-2"/>
                    <label class="star-rating__label" for="feedback-2" aria-label="Two"></label>
                    <input class="star-rating__input" type="radio" name="value" value="3" id="feedback-3"/>
                    <label class="star-rating__label" for="feedback-3" aria-label="Three"></label>
                    <input class="star-rating__input" type="radio" name="value" value="4" id="feedback-4"/>
                    <label class="star-rating__label" for="feedback-4" aria-label="Four"></label>
                    <input class="star-rating__input" type="radio" name="value" value="5" id="feedback-5"/>
                    <label class="star-rating__label" for="feedback-5" aria-label="Five"></label>
                    <div class="star-rating__focus"></div>
                </div>
            </fieldset>
            <input type="submit" value="Rate" class="primary-color text-decoration-none rounded-3 py-1 px-3 mb-3 fw-bold text-white d-flex ms-auto mt-0 me-0" style="width: fit-content; height: fit-content;">
        </form>
        {% endif %}
        <form method="POST" action="{% url 'workshop:create_comment' %}">
            {% csrf_token %}
            <input type="hidden" name="workshop" value="{{ workshop.id }}">
            <div class="col-md-12">
                <input type="text" class="border-0 p-3 text-light w-100" name="title" title="title" placeholder="title" style="background-color: #303030; border-radius: 15px;">
                <textarea style="background-color: #303030; border-radius: 15px; height: 150px; margin-top: 10px;" class="border-0 p-3 text-light w-100" placeholder="what's on your mind?" name="comment" id="comment"></textarea>
            </div>
            <input type="submit" value="Comment" class="primary-color text-decoration-none rounded-3 px-4 py-2 fw-bold text-white d-flex ms-auto mt-3 me-2" style="width: fit-content;">
        </form>
    </div>
    {% endif %}
    {% for comment in workshop.comments.all %}
    <div class="row my-3 p-md-5 p-3 rounded-3 gap-2 position-relative" style="background-color: #222;">
        <div class="d-flex gap-3">
            <img src="{% if comment.customer.profile.image %} {{ comment.customer.profile.image.url }}{% else %}{% static 'images/anonymous_user.png' %}{% endif %}" style="width: 50px; height: 50px;" class="rounded-circle" alt="avatar">
           <div class="d-flex flex-column gap-1">
            <p class="fw-bold text-white m-0">{{ comment.customer.profile.name }}</p>
            <p class="text-muted m-0">{{ comment.created }}</p>
           </div>
        </div>
        <h5 class="text-muted">{{ comment.title }}</h5>
        <p class="text-white-50 m-0">{{ comment.comment }}</p>
        {% if comment.customer == request.user %}
        <button class="px-2 py-1 border-0 position-absolute bg-transparent" style="width: fit-content; right: 15px; top: 15px;" title="Edit Car">
            <a href="{% url 'workshop:update_comment' comment.id %}"><i class="fa-solid text-white fa-pen"></i></a>
        </button>
        {% endif %}
    </div>
    {% endfor %}
</section>
{% endblock %}
