<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <title>{% block title %} CARZFIX | {% block subtitle %} Home {% endblock %} {% endblock %}</title>
    {% include 'base/css.html' %}
    {% block extra_style %}  {% endblock %}
</head>
<body>
    {% include 'base/nav.html' %}
    {% include 'base/messages.html' %}

    {% block content %}
    {% endblock %}

    {% include 'base/footer.html' %}
    {% include 'base/js.html' %}

    {% block extra_js %}
    {% endblock %}
</body>
</html>