{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block subtitle %} {{ title }} {% endblock %}

{% load static %}

{% block content %}
<style>
    strong{
        color: #F40612;
    }
</style>
<section class="container py-5">
    <div class="row justify-content-center align-items-center gap-md-0 gap-3">
        <p class="fs-4 fw-bold text-white text-center mb-5">{% block form_title %} {{ title }} {% endblock %}</p>
        <div class="col-md-5 rounded-3 p-md-5 py-3" style="background-color: #222; border: 1px solid #F40612; color: whitesmoke;">
            <form class="text-secondary" method="{% block form_method %}{% endblock %}" enctype="multipart/form-data">
                {% block form_body %}
                    {% csrf_token %}
                    {{ form|crispy }}
                {% endblock %}
                <button type="submit" class="btn primary-color text-white fw-bold" style="margin-top: 10px;">{% block form_button %} Submit {% endblock %}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
